/* :::::::::::::::::::: global:::::::::::::::::: */

body {
    overflow-x: hidden;
    background-color: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

.container {
    width: 70% !important;
    margin: 0 auto !important;
}

.btn {
    text-decoration: none;
    color: rgb(0, 133, 51);
    width: 9em;
    height: 3em;
    background: none;
    border: 1px solid rgba(0, 133, 51, 0.568);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;

    transition: all .4s ease-in-out;
    text-align: center;

}

.btn:hover {
    color: #f6f6f6;
    background-color: rgb(0, 133, 51);
}

.btn_a {
    color: rgb(0, 133, 51);
    padding: 5px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 10px;
    margin: 25px 5px 10px 0;
}

/* ::::::::::::::::::::End of Global:::::::::::::::::: */



/* ::::::::::::::::::::Nav:::::::::::::::::: */

.brand {
    margin-left: 13px;
}

.nav_img {
    width: 60px !important;
    height: 60px !important;
    padding: .5em;
}

.nav_para {
    line-height: .1em;
    margin-top: 4px;
}

.tag_profile {
    margin: 0 0 0 12px;
    padding: 0;
    font-size: .7em;
    text-transform: capitalize;

}

/* ::::::::::::::::::::End of Nav:::::::::::::::::: */


/* ::::::::::::::::::::Hero:::::::::::::::::: */

.centered {
    color: rgb(0, 133, 51);
    text-align: center;
}

.title {
    text-align: center;
}

.heart {
    margin-top: 10px;
    padding: 1px;
    display: block;
    margin: 20px auto;
}

.heart {
    animation: beating 2s infinite;
}

@keyframes beating {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.05);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.subtitle {
    margin-top: 1.2em !important;
    line-height: 1.6em !important;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
}

/* ::::::::::::::::::::End of Hero:::::::::::::::::: */


/* ::::::::::::::::::::Gallery:::::::::::::::::: */

.gallery_space {
    margin-top: 5.5em !important;
}

.flex_div {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: flex-end;
}

.img_wrapper {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 3px 3px rgba(77, 77, 77, 0.2);
    transition: all .4s ease-in;
}

.img_wrapper:hover {
    transform: scale(1.1);
}

/* ::::::::::::::::::::End of Gallery:::::::::::::::::: */



/* ::::::::::::::::::::Playlist:::::::::::::::::::::::: */
.playlist_space {
    margin-top: 3.5em;
    margin-bottom: .5em;
}

.audio_flex {
    margin-top: .5em;
}

.fig_div {
    margin-top: 1em;
    padding: .8em;
}

.figure {
    margin-top: 1em;
}

.song_caption {
    font-size: .8em;
    padding-bottom: .8em;
}

.download_audio {
    text-decoration: none;
    font-size: .9em;
    font-weight: 400;
    color: grey;
    transition: all .3s ease-in-out;
}

.download_audio:hover {
    color: rgb(0, 133, 51);
    transform: scale(1.08);
}

/* ::::::::::::::::::::End Playlist:::::::::::::::::::::::: */

/* ::::::::::::::::::::End Playlist:::::::::::::::::::::::: */


/* ::::::::::::::::::::End of footer:::::::::::::::::::::::: */

.footer {
    margin-top: 3em;
    padding-bottom: 3em;
    background-color: #eeeeee;
}

.footer_para {
    font-size: .9em;
}

/* :::::::::::::::::::: End ofFooter:::::::::::::::::::::::: */


/* :::::::::::::::::Media Queries:::::::::::::::::::: */

@media screen and (max-width: 720px) {
    .container {
        width: 85% !important;
    }

    .welcome_note {
        text-align: center !important;
        font-size: 1em !important;
    }

    .img_wrapper {
        width: 120px;
        height: auto;
        margin-left: 0px;
    }

    .flex_div {
        display: flex;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 380px) {
    .container {
        width: 95% !important;
    }

    .btn_group {
        display: block;
    }

    .btn {
        display: block;
        width: 90%;
    }

    .add_wish_btn {
        width: 100% !important;
    }
}